// Definición de variables
$font-another-day: 'AnotherDay';
$font-amstagram: 'Amstagram';

// Reglas para usar las fuentes descargadas a la pc
@font-face {
	font-family: $font-another-day;
	src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
	font-family: $font-amstagram;
	src: url('../assets/font/Amstagram.ttf');
}

body {
	font-family: 'Josefin Sans';
	//overflow-x: hidden;
}

h2 {
	font-family: $font-amstagram;
}

.navbar-light .navbar-nav .colorNeutro {
	color: #795548;
}

// Estilos para el parallax
.parallax {
	min-height: 100vh;
	background: url('../ruta/imagen-parallax.jpg') fixed;
	background-size: cover;
	background-position: center;
	color: #ffffff; // Color del texto (blanco en este caso)
	padding: 3rem 0; // Espaciado interno del contenido
  }

// Media queries
// Media queries para pantallas más pequeñas
@media (max-width: 768px) {
	// Estilos para pantallas con un ancho máximo de 768px
	// Por ejemplo, para teléfonos móviles
	// Aquí puedes agregar reglas de estilo específicas para pantallas más pequeñas
}

// Media queries para pantallas medianas
@media (min-width: 769px) and (max-width: 1024px) {
	// Estilos para pantallas con un ancho entre 769px y 1024px
	// Por ejemplo, para tablets
}

// Media queries para pantallas grandes
@media (min-width: 1025px) {
	// Estilos para pantallas con un ancho mínimo de 1025px
	// Por ejemplo, para computadoras de escritorio
}