// Definición de variables
$font-another-day: 'AnotherDay';
$font-amstagram: 'Amstagram';
$color-primary: #000;
$color-secondary: white;


// Reglas para usar las fuentes descargadas a la pc
@font-face {
  font-family: $font-another-day;
  src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
  font-family: $font-amstagram;
  src: url('../assets/font/Amstagram.ttf');
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: $color-secondary;
  //overflow-x: hidden;

  h2 {
    font-family: $font-amstagram;
  }
}

.navbar-light .navbar-nav .colorNeutro {
  color: #795548;
}

// Estilos para el parallax
.parallax {
  // Imagen elegida
  background-image: url("../assets/imagenes/Pasta and wine 2.jpg");

  // Definir un alto específico
  height: 700px;

  // Crear el efecto parallax al scrollear
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // box modeling
  padding: 50px 30px;
  margin-bottom: 50px;

  h4, p {
    font-size: larger;
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  h4 {
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
  }

  p {
    text-align: justify;
  }
}

/* Ininio Galería Inicio */
.galeriaInicio {
  width: 85%;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .hijoGaleriaInicio {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    img {
      width: 100%;
      height: 90%;
      object-fit: cover;
      border-radius: 10px 10px 0px 0px;
    }
  }
}

/* formulario */
.formClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  font-family: "Quick";
  background-color: #BDBDBD;
  width: 90%;
  max-width: 400px;
  border-radius: 1rem;
  padding: 3.5rem 1.5rem;

  .formCont {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 100%;
  }

  .formTitle {
    font-family: "quick";
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .4rem;
  }

  .formInput {
    font-family: "quick";
    font-size: 1rem;
    padding: .8rem 1rem;
    outline: none;
    border: none;
    border: 1px #795548;
    border-radius: 0.2rem;
  }

  .formImputMessage {
    font-family: "quick";
    resize: none;
    padding: 1.8rem 1rem;
    margin-bottom: 0.5rem;
  }

  .formCta {
    font-size: 1rem;
    background-color: #E64A19;
    color: #212121;
    border: none;
    font-weight: 300;
    padding: .7rem 0;
    border-radius: .2rem;
    cursor: pointer;
    font-weight: 400;
  }
}

text {
  text-align: center;
}

/* Inicio Mapa */
.classMap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.map {
  margin-top: 35px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer {
  height: 30vh;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .derechosReservados {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }

  /* Fin footer */
  .icons-wrapper {
    margin-top: 10px;

    i {
      font-size: 24px;
      color: #fff; /* Color de los iconos del footer */
      margin-right: 10px;
    }
  }

  .derechosReservados {
    margin-top: 10px;
    font-size: 14px;
    color: #fff; /* Color del texto de derechos reservados */
  }

  /* animaciones para redes sociales */
  .icons-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: rgb(37, 37, 37);
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }

    /* ======================== */
    .icon {
      display: inline-block;
      /*Makes the icons inline block level elements. This will let us animate the transform property.*/
      font-size: 44px;
      animation: float infinite 5s ease-in-out;

      /*animation-delay: 1s;*/
      /*Applies the float keyframe animation over 5s and makes it run infinitely.*/
      /*
      animation-name: float;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-delay: 5s;*/
    }

    /*
      The following styles will add linear gradient background to the text then it will clip the text shape into the background.
      The result is gradient text.
    */
    .ri-instagram-line {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285AEB 90%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* This is the first item so no animation delay needed.*/
    }

    .ri-facebook-circle-line {
      color: #1877f2;
      animation-delay: 0.5s; /*Adds a animation delay of 0.5 seconds.*/
    }

    .ri-whatsapp-line {
      color: #25d366;
      animation-delay: 1s; /*Adds a animation delay of 1 seconds.*/
    }

    @keyframes float {
      0% {
        transform: translateY(0); /*The starting point of the animation is 0.*/
      }
      50% {
        transform: translateY(-25px); /*The middle point of the animation is -15xp. This will move the element up.*/
      }
      100% {
        transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
      }
    }
  }
}

// Error
.galeriaError {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px); /* El 120px es la altura del header y footer combinados */

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// Media queries
// Media queries para pantallas más pequeñas
@media (max-width: 768px) {
  // Estilos para pantallas con un ancho máximo de 768px
  // Por ejemplo, para teléfonos móviles
  // Aquí puedes agregar reglas de estilo específicas para pantallas más pequeñas
}

// Media queries para pantallas medianas
@media (min-width: 769px) and (max-width: 1024px) {
  // Estilos para pantallas con un ancho entre 769px y 1024px
  // Por ejemplo, para tablets
}

// Media queries para pantallas grandes
@media (min-width: 1025px) {
  // Estilos para pantallas con un ancho mínimo de 1025px
  // Por ejemplo, para computadoras de escritorio
}
