<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Experience unforgettable culinary events at Meli's Food with a Latin American twist. Join us for markets, private events, and enjoy our delicious pizza and pasta selections. Contact us now for a quote!">
  <meta name="keywords" content="Melis Food, pasta, pizza, Latin American, North Shore, delivery">
  <title>Meli's Food | Events: Culinary Experiences with a Latin American Twist</title>
  <!--favicon: imagen que se ve en la solapa de la página web, junto al nombre-->
  <link rel="shortcut icon" href="../Favicon.ico.png" type="image/x-icon">
  <!--incluir correctamente CSS en el proyecto: a continuación vinculo html con la hoja de estilo en cascada, con un link-->
  <!-- Font icons pulled from remix icon CDN (Content delivery network) -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- link google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
        rel="stylesheet">
  <!-- linkear CSS después, por la cascada -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="bg-white"> <!-- Aplico la clase 'bg-white' para establecer el fondo blanco -->
<!-- inicio encabezado -->
<header class="bg-secondary">

  <!-- inicio navegación bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="../index.html">
        <img src="../assets/imagenes/Melis_logo-sin fondo.png" alt="" width="50" height="50" alt="Melis Food logo, including the word Melis in italic, under a 
                    Pizza mallet bun being kneaded by a wooden rolling pin">
        With a Latin American Touch
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link colorNeutro" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorNeutro" href="../views/products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorNeutro" href="../views/howtofindus.html">How to find us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorNeutro" href="../views/testimonials.html">Testimonials</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!--fin navegación bootstrap -->
  </header>
  <!-- fin encabezado -->

  <!--Inicio Galería Eventos-->
  <div class="galeriaError container-fluid">
    <!-- Utilizo la clase 'container-fluid' para ocupar todo el ancho -->
    <div class="row justify-content-center align-items-center min-vh-100">
      <!-- min-vh-100 para ocupar todo el espacio vertical disponible -->
      <div class="col-md-12">
        <div class="d-flex justify-content-center mb-4">
          <img src="../assets/imagenes/Error 404.png" alt="Error page with the number 404, being the pizza the number 0" class="img-fluid rounded" style="max-height: 30rem;">
        </div>
      </div>
    </div>
  </div>
  <!--fin galería con boostrap-->

  <!-- inicio footer -->
  <footer class="footer bg-dark text-white py-4">
    <!-- py-4 para dar espacio en la parte superior e inferior del footer -->
    <div class="text-center">
      <a href="#top">Go up</a>
    </div>
    <div class="icons-wrapper d-flex justify-content-center">
      <!-- Use Bootstrap social icons -->
      <a href="https://www.instagram.com/melisfoodnz/" class="ri-instagram-line icon me-3"></a>
      <a href="https://www.facebook.com/profile.php?id=100090721569503" class="ri-facebook-circle-line icon me-3"></a>
     </div>
    <p class="derechosReservados text-center mt-3">Todos los derechos reservados | +64 22 549 0885</p>
  </footer>
  <!-- fin footer -->

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
