<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Events</title>
		 <!--favicon: imagen que se ve en la solapa de la página web, junto al nombre-->
		 <link rel="shorcut icon" href="../Favicon.ico.png"type="image/x-ico">
		 <!--incluir correctametne CSS en el proyecto: a continuación vinculo html con la hoja de estilo en cascada, con un link-->
		<!-- Font icons pulled from remix icon CDN (Content delivery network) -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
		 <!-- link google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
			rel="stylesheet">
		<!--linkeo el boostrap que descargué y descomprimí en mi proyecto, uso min para que descargue más rápido en mi proyecto-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
		rel="stylesheet">
	<!-- linkear css después, por la cascada -->
	<link rel="stylesheet" href="../css/estilo.css">

	</head>
	<body class="bg-white"> <!-- Aplico la clase 'bg-white' para establecer el fondo blanco -->
		<!-- inicio encabezado -->
		<header class="bg-secondary">
		
		<!-- inicio navegación boostrap-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img src="../assets/imagenes/Melis_logo-sin fondo.png" alt="" width="50" height="50">
					With a Latin American Touch
				</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
				  <li class="nav-item">
					<a class="nav-link colorNeutro " href="/index.html">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link colorNeutro" href="../views/products.html">Products</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Events</a>
				  </li>
				  <li class="nav-item ">
					<a class="nav-link colorNeutro" href="../views/howtofindus.html">How to find us</a>
				  </li>
				  <li class="nav-item ">
					<a class="nav-link colorNeutro" href="../views/testimonials.html">Testimonials</a>
				  </li>
				  
				</ul>
			   
			  </div>
			</div>
		</nav>
<!--fin navegación boostrap-->
		</header>
<!-- fin encabezado -->
<!--Inicio Galería Eventos-->
<div class="galeriaInicio container"> <!-- Utilizo la clase 'container' para establecer el ancho máximo y centrar el contenido -->
	<div class="row">
		<div class="col-md-6">
			<h2>Markets</h2>
			<p>Join us for unforgettable culinary events at Meli's. 
			Find us at different markets around Auckland or contact us to create an unforgettable experience in your next event! From corporate gatherings to private celebrations, our team at Meli's is ready to bring the best culinary experience. Contact us for a quote now!</p>
			<p>As you explore our Street Market Section, immerse yourself in the lively ambiance, filled with laughter, music, and the joy of shared meals. It's the perfect place to gather with friends, family, and fellow food enthusiasts, creating memories over steaming plates of pasta and mouthwatering slices of pizza.
			We take pride in sourcing high-quality ingredients from local producers and ensuring that each dish is prepared with care. Our commitment to authenticity and flavor shines through in every bite, making our Street Market Section a must-visit for foodies and anyone seeking an unforgettable culinary adventure.
			So, come and join us at our Street Market Section, where the tantalizing scents, vibrant colors, and incredible flavors of Italy come together. Whether you're exploring on your own or with a group, our street market is waiting to ignite your senses and take you on a gastronomic journey.
			</p>
		</div>
		<div class="col-md-6">
			<div class="d-flex justify-content-end mb-4">
				<img src="../assets/imagenes/Markets (1).jpg" alt="card" class="img-fluid rounded" style="width: 100%; max-height: 30rem;"> 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="d-flex justify-content-start mb-4">
				<img src="../assets/imagenes/Markets (2).jpg" alt="card" class="img-fluid rounded" style="width: 100%; max-height: 30rem;"> <!-- Inserta la URL de la imagen en el atributo src -->
			</div>
		</div>
		<div class="col-md-6">
			<h2>Private Events</h2>
			<p>Indulge in the flavors of Italy with a latin american twist, with our exquisite selection of pizza and pasta for your next private event. Whether you're hosting a corporate gathering, a birthday celebration, or a special family occasion, our dedicated team is here to create an unforgettable dining experience for you and your guests.</p>
			<p>Immerse yourself in the aromas of freshly baked pizzas straight from our wood-fired oven. Our pizzas are crafted with love, using only the finest ingredients, and topped with a variety of mouthwatering toppings. From classic Margherita to gourmet combinations, our pizza selection offers something to satisfy every palate.</p>
			<p>Our dedicated event planning team is committed to making your private event a success. We will work closely with you to customize a menu that suits your preferences and dietary requirements. Whether you have specific requests or need assistance with event logistics, we're here to make the process seamless and stress-free.
			Don't miss the opportunity to elevate your private event with the authentic flavors of Italy. Contact us today to reserve your date and let us create an unforgettable dining experience that will leave a lasting impression on you and your guests.
			
			Buon appetito!
			</p>  
		</div>
	</div>
</div>
<!--fin galería con boostrap-->
<!-- inicio footer -->
<footer class="footer bg-dark text-white container-fluid">
	<div class="text-center">
	  <a href="#top">Go up</a>
	</div>
	<div class="icons-wrapper">
	  <!-- Use Bootstrap social icons -->
	  <a href=" https://www.instagram.com/melisfoodnz/" class="ri-instagram-line icon"></a>
	  <a href=" https://www.facebook.com/profile.php?id=100090721569503" class="ri-facebook-circle-line icon"></a>
	  <a href="enquiries@melisfood.co.nz" class="ri-whatsapp-line icon"></a>
	</div>
	<p class="derechosReservados text-center mt-3">Todos los derechos reservados</p>
  </footer>
  <!-- fin footer -->
<script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>