<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>How to find us</title>
		 <!--favicon: imagen que se ve en la solapa de la página web, junto al nombre-->
		 <link rel="shorcut icon" href="../Favicon.ico.png"type="image/x-ico">
		<!--incluir correctametne CSS en el proyecto: a continuación vinculo html con la hoja de estilo en cascada, con un link-->
		<!-- link google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
			rel="stylesheet">
	<!--linkeo el boostrap que descargué y descomprimí en mi proyecto, uso min para que descargue más rápido en mi proyecto-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
		rel="stylesheet">
	<!-- linkear css después, por la cascada -->
	<link rel="stylesheet" href="../css/estilo.css">

	</head>
	<body>
		<!-- inicio encabezado -->
		<header class="bg-secondary">
		
		<!-- inicio navegación boostrap-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
			  <a class="navbar-brand" href="#">
				<img src="../assets/imagenes/Melis logo.jpg" alt="" width="30" height="24">
				With a latin american touch
			  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
				  <li class="nav-item">
					<a class="nav-link colorNeutro" aria-current="page" href="/index.html">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link colorNeutro" href="../views/products.html">Products</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link colorNeutro" href="../views/events.html">Events</a>
				  </li>
				  <li class="nav-item ">
					<a class="nav-link active" href="#">How to find us</a>
				  </li>
				  <li class="nav-item ">
					<a class="nav-link colorNeutro" href="../views/testimonials.html">Testimonials</a>
				  </li>
				  
				</ul>
			   
			  </div>
			</div>
		</nav>
		<!--fin navegación boostrap-->
	
		</header>
		<!-- fin encabezado -->

		<!-- inicio contenido -->
	<!-- Inicio Mapa -->
	<section>
		<div class="textMap d-flex justify-content-center">
			<h2>How to find us</h2>
		</div>
		<div class="classMap d-flex justify-content-center align-items-center vh-100"> <!-- Aplico clases de flexbox y altura de pantalla completa -->
			<div class="map">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25557.395377404777!2d174.72641166939098!3d-36.80235581068714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d3849368ce955%3A0x500ef6143a2ebf0!2sNorthcote%2C%20Auckland!5e0!3m2!1ses-419!2snz!4v1687146909162!5m2!1ses-419!2snz" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		  </div>
	</section>
	
	<section>
	</div>
	<div class="galeriaInicio">
		<div class="hijoGaleriaInicio">
		<h2>Contact us</h2>		
		<section class="formClass">
			<form class="form">
				<div class="formCont">
					<!--<h2 class="formTitle">Contact Me</h2>-->
					<input type="text" class="formInput" placeholder="Name">
					<input type="email" class="formInput" placeholder="email">
					<textarea class="formInput formInputMessage" placeholder="Message"></textarea>
					<input type="submit" value="Send" class="formCta">
				</div>
			</form>
		</section>
	</div>
</section>
<!-- fin contenido -->

<!-- inicio footer -->
<footer class="footer bg-dark text-white"> <!-- Utilizo las clases 'footer', 'bg-dark' y 'text-white' para los estilos del footer -->
	<div>
		<a href="#top">Go up</a>
	</div>
	<div>
		<a href=""><i>instagram</i></a>
		<a href=""><i>facebook</i></a>
		<a href=""><i>twitter</i></a>
	</div>
	<p class="derechosReservados">Todos los derechos reservados.</p>
 </footer>
<!-- fin footer -->

<script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>