<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Melis Food, pasta, pizza, Latin American, North Shore, delivery">
<meta name="description" content="Delight your taste buds with our mouthwatering homemade pizza and pasta. Order now for a delectable dining experience delivered right to your doorstep. Savor the flavors of Italy at home!">
<title>How to find us</title>
<!--favicon: imagen que se ve en la solapa de la página web, junto al nombre-->
<link rel="shortcut icon" href="../Favicon.ico.png" type="image/x-icon">
<!--incluir correctamente CSS en el proyecto: a continuación vinculo html con la hoja de estilo en cascada, con un link-->
<!-- Font icons pulled from remix icon CDN (Content delivery network) -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<!-- link google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
	rel="stylesheet">
<!--linkeo el boostrap que descargué y descomprimí en mi proyecto, uso min para que descargue más rápido en mi proyecto-->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
rel="stylesheet">
<!-- linkear css después, por la cascada -->
<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="bg-white"> <!-- Aplico la clase 'bg-white' para establecer el fondo blanco -->
<!-- inicio encabezado -->
<header class="bg-secondary">
<!-- inicio navegación boostrap-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="../index.html">
				<img src="../assets/imagenes/Melis_logo-sin fondo.png" alt="" width="50" height="50" alt="Melis Food logo, including the word Melis in italic, under a 
				Pizza mallet bun being kneaded by a wooden rolling pin">
				With a Latin American Touch
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
					<li class="nav-item">
						<a class="nav-link colorNeutro" aria-current="page" href="../index.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link colorNeutro" href="../views/products.html">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link colorNeutro" href="../views/events.html">Events</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link active" href="#">How to find us</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link colorNeutro" href="../views/testimonials.html">Testimonials</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<!--fin navegación boostrap-->
</header>
<!-- fin encabezado -->
<!-- Inicio Mapa -->
<section class="container mt-5">
	<div class="col-lg-6">
		<div class="text-center">
			<h2>How to find us</h2>
		</div>
	</div>
    <div class="row">
    <!-- Mapa -->
       <div class="col-lg-6">
           <div class="d-flex justify-content-center align-items-center vh-100"> 
               <!-- Clases de flexbox y altura de pantalla completa -->
               <div class="map">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25557.395377404777!2d174.72641166939098!3d-36.80235581068714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d3849368ce955%3A0x500ef6143a2ebf0!2sNorthcote%2C%20Auckland!5e0!3m2!1ses-419!2snz!4v1687146909162!5m2!1ses-419!2snz" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="Map with the approximate location of Melis Food"></iframe>
               </div>
           </div>
       </div>

    <!-- Formulario -->
<div class="col-lg-6">
    <div class="text-center">
        <h2>Contact Us</h2>
    </div>
    <div class="formClass">
        <form class="form" action="mailto:melissa.barboza@melisfood.co.nz" method="post" enctype="text/plain">
            <div class="formCont">
                <input type="text" class="form-control mb-3 formInput" placeholder="Name">
                <input type="email" class="form-control mb-3 formInput" placeholder="Email">
                <textarea class="form-control mb-3 formInputMessage" placeholder="Message"></textarea>
                <input type="submit" value="Send" class="btn btn-primary formCta">
                <input type="reset" value="Reset" class="btn btn-primary formCta">
            </div>
        </form>
    </div>
</div>
</section>
<!-- fin contenido -->
<!-- inicio footer -->
<footer class="footer bg-dark text-white container-fluid">
	<div class="text-center">
	  <a href="#top">Go up</a>
	</div>
	<div class="icons-wrapper">
	  <!-- Use Bootstrap social icons -->
	  <a href=" https://www.instagram.com/melisfoodnz/" class="ri-instagram-line icon"></a>
	  <a href=" https://www.facebook.com/profile.php?id=100090721569503" class="ri-facebook-circle-line icon"></a>
	</div>
	<p class="derechosReservados text-center mt-3">Todos los derechos reservados | +64 22 549 0885</p>
  </footer>
  <!-- fin footer -->

	<script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>