<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Our Products</title>
	 <!--favicon: imagen que se ve en la solapa de la página web, junto al nombre-->
	 <link rel="shorcut icon" href="../Favicon.ico.png"type="image/x-ico">
	 <!--incluir correctametne CSS en el proyecto: a continuación vinculo html con la hoja de estilo en cascada, con un link-->
	<!-- link google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
		rel="stylesheet">
<!--linkeo el boostrap que descargué y descomprimí en mi proyecto, uso min para que descargue más rápido en mi proyecto-->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
rel="stylesheet">
<!-- linkear css después, por la cascada -->
<link rel="stylesheet" href="../css/estilo.css">
	
</head>
<body class="bg-white"> <!-- Aplico la clase 'bg-white' para establecer el fondo blanco -->
<!-- inicio encabezado -->
<header class="bg-secondary">
				
<!-- inicio navegación boostrap-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		 <a class="navbar-brand" href="#">
			<img src="../assets/imagenes/Melis logo.jpg" alt="" width="30" height="24">
			With a latin american touch
		 </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
			  <li class="nav-item">
				<a class="nav-link colorNeutro " aria-current="page" href="/index.html">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link colorNeutro" href="../views/products.html">Products</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link colorNeutro" href="../views/events.html">Events</a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link colorNeutro" href="../views/howtofindus.html">How to find us</a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link active" href="#">Testimonials</a>
			  </li>
					  
			</ul>
					   
		</div>
	</div>
</nav>
<!--fin navegación boostrap-->
	
</header>
<!-- fin encabezado -->

<!-- Galería Testimonios con boostrap-->
<div class="galeriaInicio container"> <!-- Utilizamos la clase 'container' para establecer el ancho máximo y centrar el contenido -->
	<div class="hijoGaleriaInicio">
	  <img src="..." alt="Image"> <!-- Inserta la URL de la imagen en el atributo src -->
	</div>
	<div class="galeriaInicio container"> <!-- Utilizamos la clase 'container' para establecer el ancho máximo y centrar el contenido -->
		<div class="hijoGaleriaInicio">
		  <img src="..." alt="Image"> <!-- Inserta la URL de la imagen en el atributo src -->
		</div>
</div>

<!-- inicio footer -->
<footer class="footer bg-dark text-white container-fluid"> <!-- Utilizo las clases 'footer', 'bg-dark' y 'text-white' para los estilos del footer -->
	<div>
		<a href="#top">Go up</a>
	</div>
	<div>
		<a href=""><i>instagram</i></a>
		<a href=""><i>facebook</i></a>
		<a href=""><i>twitter</i></a>
	</div>
	<p class="derechosReservados">Todos los derechos reservados.</p>
 </footer>
<!-- fin footer -->

<script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>