<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Melis Food, pasta, pizza, Latin American, North Shore, delivery">
	<title>Our Products</title>
	 <!--favicon: imagen que se ve en la solapa de la página web, junto al nombre-->
	 <link rel="shorcut icon" href="../Favicon.ico.png"type="image/x-ico">
	 <!--incluir correctametne CSS en el proyecto: a continuación vinculo html con la hoja de estilo en cascada, con un link-->
	<!-- Font icons pulled from remix icon CDN (Content delivery network) -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	 <!-- link google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
		rel="stylesheet">
<!--linkeo el boostrap que descargué y descomprimí en mi proyecto, uso min para que descargue más rápido en mi proyecto-->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap"
rel="stylesheet">
<!-- linkear css después, por la cascada -->
<link rel="stylesheet" href="../css/estilo.css">
	
</head>
<body class="bg-white"> <!-- Aplico la clase 'bg-white' para establecer el fondo blanco -->
<!-- inicio encabezado -->
<header class="bg-secondary">
				
<!-- inicio navegación boostrap-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="../index.html">
			<img src="../assets/imagenes/Melis_logo-sin fondo.png" alt="" width="50" height="50" alt="Melis Food logo, including the word Melis in italic, under a 
			Pizza mallet bun being kneaded by a wooden rolling pin">
			With a Latin American Touch
		</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center align-items-center">
			  <li class="nav-item">
				<a class="nav-link colorNeutro " aria-current="page" href="../index.html">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link colorNeutro" href="../views/products.html">Products</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link colorNeutro" href="../views/events.html">Events</a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link colorNeutro" href="../views/howtofindus.html">How to find us</a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link active" href="#">Testimonials</a>
			  </li>
					  
			</ul>
					   
		</div>
	</div>
</nav>
<!--fin navegación boostrap-->
	
</header>
<!-- fin encabezado -->

<!-- Galería Testimonios con Bootstrap Carrusel -->
<div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
	<h2 class="text-center mb-4">Here's what our delighted customers have to say</h2> 
	<div class="carousel-inner" style="max-height: 400px;"> <!-- Para reducir la altura -->

		<div class="carousel-item active">
			<img src="../assets/imagenes/Imagenes Carrousel 1.jpg" alt="Testimonial 1" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="../assets/imagenes/Imagenes Carrousel 2.jpg" alt="Testimonial 2" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="../assets/imagenes/Imagenes carrousel 3.jpg" alt="Testimonial 3" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="../assets/imagenes/Delivery.jpg" alt="Testimonial 4" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="../assets/imagenes/Imagenes carrousel 4.jpg" alt="Testimonial 5" class="d-block w-100">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<!--fin galería testimonials-->
<!-- Gallery with Bootstrap grid -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/imagenes/Pizza 2.jpg" alt="Feedback from clients"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px;">
                <p class="mt-3 text-center">Andrew Forbes Mobberley: “Great Pizza and amazing service” Value for money with quality ingredients”.</p>
            </div>
        </div>
		<div class="col-md-4">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/imagenes/Feedback (10).png" alt="Feedback from clients"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px;">
                <p class="mt-3 text-center">Nicolás Aravena: "What an amazing homemade pasta and pizza! The Sorrentinos dough was perfectly cooked and the pizza base so crispy. For those looking for a vegetarian option, we had Spinach & Ricotta Sorrentinos plus a Caramelized Onion and blue cheese Pizza and it just exceeded our expectations."</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/imagenes/Imagenes carrousel 3.jpg" alt="Feedback from clients"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px;">
                <p class="mt-3 text-center">Areeya Peters: “Definitely recommend Melis food 100%! The pizzas were so delicious and fresh and the Sorrentino are to die for!!"</p>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/imagenes/Feedback (9).png" alt="Feedback from clients"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px;">
                <p class="mt-3 text-center">PomeyGeza: “The highlight of my day.”</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/imagenes/Pizza and wine.jpg" alt="Feedback from clients"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px;">
                <p class="mt-3 text-center">Chechu Valdez: "The  best way to finish the day! Thanks | Great dinner!"</p>
            </div>
        </div>
		<div class="col-md-4">
            <div class="d-flex flex-column align-items-center mb-4">
                <img src="../assets/imagenes/Pasta and wine.jpg" alt="Feedback from clients"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px;">
                <p class="mt-3 text-center">Dyego Cortinas: “Great Pasta, go for those Sorrentinos!!”</p>
            </div>
        </div>
    </div>
</div>
<!--fin galería con boostrap-->
<!-- inicio footer -->
<footer class="footer bg-dark text-white container-fluid">
	<div class="text-center">
	  <a href="#top">Go up</a>
	</div>
	<div class="icons-wrapper">
	  <!-- Use Bootstrap social icons -->
	  <a href=" https://www.instagram.com/melisfoodnz/" class="ri-instagram-line icon"></a>
	  <a href=" https://www.facebook.com/profile.php?id=100090721569503" class="ri-facebook-circle-line icon"></a>
	  <a href="enquiries@melisfood.co.nz" class="ri-whatsapp-line icon"></a>
	</div>
	<p class="derechosReservados text-center mt-3">Todos los derechos reservados</p>
  </footer>
  <!-- fin footer -->

<script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>